@import "tailwindcss";

:root {
  --background: #f4f4f0;
  --foreground: rgb(0, 0, 0);
}

.header-font {
  font-family: 'Fugaz One Cyrillic', sans-serif;
  letter-spacing: 0.5px;
  /* можно еще добавить межбуквенный интервал */
}

[class="dark"] {
  --background: #080c0e;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Теперь font-sans в Tailwind — это Inter */
  --font-sans: var(--font-inter);
  /* Теперь font-space — это твой кастомный класс для заголовков */
  --font-space: var(--font-space-grotesk);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #374b5d;
    --foreground: rgb(255, 255, 255);
  }
} */

body {
  background-color: var(--background);
  color: var(--foreground);
  background: var(--background);
  /* Применяем шрифт Geist Sans ко всему тексту на сайте */
  font-family: var(--font-inter), sans-serif;
  transition: background 0.3s ease;
  /* Делаем текст более гладким */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}